/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}

@font-face {
	font-family: "CompactaStd-Bold";
	src: url("./rca-fonts/CompactaStd-Bold.woff2");
}

@font-face {
	font-family: "Panama";
	src: url("./rca-fonts/Panama.woff2");
}

@font-face {
	font-family: RCAOneAlphaGX;
	src: url(./rca-fonts/RCAOneAlphaGX.woff2;
}

@font-face {
	font-family: RCATwoAlphaGX;
	src: url(./rca-fonts/RCATwoAlphaGX.woff2);
}

@font-face {
	font-family: Romie-Italic;
	src: url(./rca-fonts/Romie-Italic.woff2);
}

@font-face {
	font-family: Suisse-BP-intl-light;
	src: url(./rca-fonts/Suisse-BP-intl-light.woff2);
}

@font-face {
	font-family: Suisse-BP-intl-regular;
	src: url(./rca-fonts/Suisse-BP-intl-regular.woff2); 
}

/****************/
/* JOUW STYLING */
/****************/

/* jouw code */


/* Ik kan mijn font niet laten werken? Hoe doe ik dat op de juist manier? */
header {
	display: flex;
	justify-content: center;
	font-family: "Suisse-BP-intl-light";
}

ul {
	display: flex;
	align-content: center;
	list-style: none;
}




